<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826137545031-8n6n3l1ijben4169ksrqkop1r4efe6p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826137545031-8n6n3l1ijben4169ksrqkop1r4efe6p2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtg8sQgCilB1BRCPGa5gMKzTu3AbvZdcI</string>
	<key>GCM_SENDER_ID</key>
	<string>826137545031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseall</string>
	<key>PROJECT_ID</key>
	<string>fir-allwork</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-allwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826137545031:ios:500b2428e1e1535a592462</string>
</dict>
</plist>